build
dist / media
node_modules
charts-inbox/
charts.pdf
tsconfig.tsbuildinfo
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
